build/
dist/
*.class
*.war

nbproject/private/

web/uploads/
build/web/uploads/

omrs-angular-app/node_modules/
omrs-angular-app/.angular/
omrs-angular-app/dist/
omrs-angular-app/ng-serve*.log

.env
*.log
/OMRS/
